@import "tailwindcss";

@theme {
  --font-fredoka: "Fredoka", sans-serif;
  --font-nunito: "Nunito", sans-serif;

  --color-primary: #2d3691;
  --color-neutral-100: #fbf7ff;
  --color-neutral-300: #616591;
  --color-accent-400: #fcefea;
  --color-accent-500: #7771b2;
  --color-accent-900: #c54445;

  --shadow-button: 0 2px 20px rgba(45, 54, 145, 0.9);

  --text-xl: 33px;
  --text-lg: 25px;
  --text-md: 18px;
  --text-base: 16px;
}
html{
  scroll-behavior: smooth;
}
.mobileNavItem {
  height: 2.5px;
  width: 100%;
  background-color: var(--color-primary);
  transform-origin: center;
  border-radius: 4px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.footer {
  background-image: url(./assets/svg/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: 30% center;
  background-size: cover;
}
.h3 {
  font-family: "Fredoka", sans-serif;
  font-size: 1.125rem;
  color: #2d3691;
  font-weight: 400;
}
.paragraph-text {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #616591;
  font-weight: 400;
  padding-top: 10px;
}
